<%= form_for(@consumer, html: {class: "form-inline well span9"}) do |f| %>
  <% if @consumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumer.errors.count, "error") %> prohibited this consumer from being saved:</h2>

      <ul>
      <% @consumer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span12">
    <%= f.text_field :token, id: "token", class: "col-lg-12", placeholder: "Type Token", style: "margin-bottom:10px;height:35px; width:300px;" %>
  </div>
  <div class="span12">
    <%= f.text_field :event_action, class: "col-lg-12", placeholder: "Type Action", style: "margin-bottom:10px;height:35px; width:300px;" %>
  </div>
  <div class="span12">
    <%= f.text_field :event_description, class: "col-lg-12", placeholder: "Type Description", style: "margin-bottom:10px;height:35px; width:300px;" %>
  </div>
  <div class="span12">
    <%= f.text_field :event_scope, class: "col-lg-12", placeholder: "Type Scope", style: "margin-bottom:10px;height:35px; width:300px;" %>
  </div>
  <div class="actions">
    <%= f.submit  id: "submit-form" ,class: "btn btn-large btn-primary", title: "Create event" %>
  </div>
<% end %>
